.container {
    margin: 0 auto;
}

.myForm {
    width: 65%;
}

@font-face {
    font-family: nationalParks;
    src: url('./NationalPark-Regular.otf');
  }
  
  .parksFont {
    font-family: nationalParks
  }

.showSearch {
    margin-top: -50%
}

.passportSign {
    
    /* clip-path: polygon(0 0, 100% 0%, 93% 100%, 25% 100%); */
   
    clip-path: polygon(0 0, 100% 10%, 93% 100%, 25% 100%);
    background-image: url('https://i.imgur.com/NBpSIkA.jpg');
}

.left-div{
    animation: moveInLeft 1s ease-out;
  }
  
  .right-div {
    animation: moveInRight 1s ease-out;
  }
  
  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        /* transform: rotate(180deg) */
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
  
  @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
  
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

  .top-div {
    animation: moveInTop 1s ease-out;
  }
    
  @keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
  
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }









/* IPAD */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
 .passportSign {
    clip-path: none;
    width: 300px
 }
 .passportTitle {
     font-size: 100% !important;
 }
 .passportImage {
    display: none
}
.index-left {
    margin-left: 0
}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .passportSign {
        clip-path: 0
     }
     .passportTitle {
         font-size: 30px !important;
         text-align: center !important;
         margin: 0 auto;
         padding: 0;
     }
     .passportImage {
         display: none
     }
     .left-index {
       width: 100% !important
    }
    .right-index {
        width: 100% !important
    }
    .left-img {
        height: 50%;
        width: 50%
    }
    .grid {
        width: 100% !important;
    }
}

